<h1>Editing blog</h1>

<%= render "form", blog: @blog %>

<br>

<div>
  <%= link_to "Show", @blog, class:"btn btn-outline-success btn-sm" %> |
  <%= link_to "Back", blogs_path, class:"btn btn-outline-success btn-sm" %>
</div>
